{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
Lucky Numbers Dynamic URL example
{% endblock %}

{% block body %}
    <h1>Lucky Number: {{ luckyNumbers }}</h1>
{% endblock %}