{% extends 'base.html.twig' %}

{% block title %}Notes Administration (AngularJS){% endblock %}

{% block blockheader%} Notes Administration {% endblock %}

{% block headercontent %}
<h1>Angular Tutorial</h1>
{% endblock %}


{% block content %}
<div class="container">
	<h1>Bootstrap starter template</h1>
	<p class="lead">
		Angular Tutorial with Symfony
	</p>
	
	<!-- root of the angular application DOM--> 
	<div> 
		
		<div class="row">
			<p>Nothing here {[{'yet' + '!'}]}</p>
		</div>
		
		<div class="row">
			<h3>Angular Example with a Input Field</h3>
			<div class="form-group">
				<label for="name">Name:</label>
		      	<input id="name" type="text" ng-model="name" placeholder="Enter a name here">
		      	<p>Hello {[{name}]}!</p>
	      	</div>
      	</div>
      	
	</div>
</div>

{% endblock %}




