{% extends 'base.html.twig' %}


{% block headercontent %}
<h1>Angular Tutorial</h1>
{% endblock %}


{% block content %}
<div class="starter-template">
	<h1>Bootstrap starter template</h1>
	<p class="lead">
		Angular Tutorial with Symfony
	</p>
</div>
{% endblock %}




