{% extends 'base.html.twig' %}

{% block blockheader%} Notes Administration {% endblock %}

{% block headercontent %}
<h1>Bootstrap starter template in Symfony</h1>
{% endblock %}

{% block content %}
<div class="starter-template">
	<p class="lead">
		Your application is now ready. You can start working on it at: <code>{{ base_dir }}/</code>
	</p>
</div>
{% endblock %}